SECRET_KEY=troque-esta-chave-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=todo_db
DB_USER=todo_user
DB_PASSWORD=todo_password
DB_HOST=db
DB_PORT=5432

WEATHER_API_URL=http://external-api:8001/api/weather/